<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startoonlabs.apps.pheezee">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/pheezee_logos_final_square"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/pheezee_logos_final_square_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".services.PheezeeBleService"
            android:enabled="true"
            android:exported="true"></service>
        <service android:name=".services.FirmwareLogService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".services.FirmwareUpdatePresentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".services.HealthUpdatePresentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".services.DeviceLocationStatusService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".services.DeviceDetailsService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".services.DeviceEmailUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>



        <service android:name=".services.OtaMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name=".classes.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.Scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarLogin" />
        <activity
            android:name=".activities.PatientsView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.home" />

        <receiver android:name=".services.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.adapter.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".dfu.DfuService"
            android:exported="true"
            android:label="@string/dfu_service_title">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.OnStartActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ScanDevicesActivity"
            android:label="@string/title_activity_scan_devices"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RawDataCollection" />
        <activity android:name=".dfu.DfuActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/AppTheme.customDesign.noActionBar" />
        <activity
            android:name=".activities.PhizioProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DeviceInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.home" />
        <activity
            android:name=".activities.BodyPartSelection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.MonitorActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SessionReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AppInfo"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>